<section class="section gallery" id="gallery">
  <div class="container">
    <h2 class="title">Breathe in the Space</h2>
    <div class="gallery__text-wrap">
      <p class="gallery__text">
        Step inside YogaBloom and feel the calm. Explore our serene studio and
        the peaceful moments our community shares during each session.
      </p>
    </div>

    <ul class="gallery__list">
      <li class="gallery__list-item">
        <img
          class="gallery__list-img"
          src="./images/gallery/gallery-1.jpg"
          srcset="
            ./images/gallery/gallery-1.jpg    1x,
            ./images/gallery/gallery-1@2x.jpg 2x
          "
          alt="people standing with hands up on the carpet in yoga class"
          width="155.5"
        />
      </li>

      <li class="gallery__list-item">
        <img
          class="gallery__list-img"
          src="./images/gallery/gallery-2.jpg"
          srcset="
            ./images/gallery/gallery-2.jpg    1x,
            ./images/gallery/gallery-2@2x.jpg 2x
          "
          alt="people sitting in lotus posa on the carpet in yoga class"
          width="155.5"
        />
      </li>

      <li class="gallery__list-item">
        <img
          class="gallery__list-img"
          src="./images/gallery/gallery-3.jpg"
          srcset="
            ./images/gallery/gallery-3.jpg    1x,
            ./images/gallery/gallery-3@2x.jpg 2x
          "
          alt="yoga class with carpets"
          width="155.5"
        />
      </li>

      <li class="gallery__list-item">
        <img
          class="gallery__list-img"
          src="./images/gallery/gallery-4.jpg"
          srcset="
            ./images/gallery/gallery-4.jpg    1x,
            ./images/gallery/gallery-4@2x.jpg 2x
          "
          alt="yoga class with carpets"
          width="155.5"
        />
      </li>

      <li class="gallery__list-item">
        <img
          class="gallery__list-img"
          src="./images/gallery/gallery-5.jpg"
          srcset="
            ./images/gallery/gallery-5.jpg    1x,
            ./images/gallery/gallery-5@2x.jpg 2x
          "
          alt="people sitting in lotus posa on the carpet in yoga class"
          width="155.5"
        />
      </li>

      <li class="gallery__list-item">
        <img
          class="gallery__list-img"
          src="./images/gallery/gallery-6.jpg"
          srcset="
            ./images/gallery/gallery-6.jpg    1x,
            ./images/gallery/gallery-6@2x.jpg 2x
          "
          alt="people sitting in lotus posa on the carpet in yoga class"
          width="155.5"
        />
      </li>
    </ul>
  </div>
</section>
