<section id="gallery">
  <div class="gallery__container container">
    <h2 class="title">Breathe in the Space</h2>
    <p class="gallery__text">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>

    <ul class="gallery__list">
      <li class="gallery__list-item">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ./images/gallery/desktop/desktop-gallery-1.jpg    1x,
              ./images/gallery/desktop/desktop-gallery-1@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />

          <!-- Tablet -->
          <source
            srcset="
              ./images/gallery/tablet/tablet-gallery-1.jpg    1x,
              ./images/gallery/tablet/tablet-gallery-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- Mobile -->
          <source
            srcset="
              ./images/gallery/mobile/mobile-gallery-1.jpg    1x,
              ./images/gallery/mobile/mobile-gallery-1@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />

          <!-- Fallback image -->
          <img
            class="gallery__list-img"
            src="./images/gallery/desktop/desktop-gallery-1.jpg"
            alt="people standing with hands up on the carpet in yoga class"
            width="421"
            height="448"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery__list-item">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ./images/gallery/desktop/desktop-gallery-2.jpg    1x,
              ./images/gallery/desktop/desktop-gallery-2@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />

          <!-- Tablet -->
          <source
            srcset="
              ./images/gallery/tablet/tablet-gallery-2.jpg    1x,
              ./images/gallery/tablet/tablet-gallery-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- Mobile -->
          <img
            class="gallery__list-img"
            src="./images/gallery/mobile/mobile-gallery-1.jpg"
            srcset="
              ./images/gallery/mobile/mobile-gallery-1.jpg    1x,
              ./images/gallery/mobile/mobile-gallery-1@2x.jpg 2x
            "
            alt="people sitting in lotus posa on the carpet in yoga class"
            width="155"
            height="155"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery__list-item">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ./images/gallery/desktop/desktop-gallery-3.jpg    1x,
              ./images/gallery/desktop/desktop-gallery-3@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />

          <!-- Tablet -->
          <source
            srcset="
              ./images/gallery/tablet/tablet-gallery-3.jpg    1x,
              ./images/gallery/tablet/tablet-gallery-3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- Mobile -->
          <img class="gallery__list-img"
          src="./images/gallery/mobile/mobile-gallery-3.jpg" srcset="
          ./images/gallery/mobile/mobile-gallery-3.jpg 1x,
          ./images/gallery/mobile/mobile-gallery-3@2x.jpg 2x " alt="yoga class
          with carpets" width="421"" width=" 155" height="155" loading="lazy" />
        </picture>
      </li>

      <li class="gallery__list-item">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ./images/gallery/desktop/desktop-gallery-4.jpg    1x,
              ./images/gallery/desktop/desktop-gallery-4@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />

          <!-- Tablet -->
          <source
            srcset="
              ./images/gallery/tablet/tablet-gallery-4.jpg    1x,
              ./images/gallery/tablet/tablet-gallery-4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- Mobile -->
          <img
            class="gallery__list-img"
            src="./images/gallery/mobile/mobile-gallery-4.jpg"
            srcset="
              ./images/gallery/mobile/mobile-gallery-4.jpg    1x,
              ./images/gallery/mobile/mobile-gallery-4@2x.jpg 2x
            "
            alt="yoga class with carpets"
            width="155"
            height="155"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery__list-item">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ./images/gallery/desktop/desktop-gallery-5.jpg    1x,
              ./images/gallery/desktop/desktop-gallery-5@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />

          <!-- Tablet -->
          <source
            srcset="
              ./images/gallery/tablet/tablet-gallery-5.jpg    1x,
              ./images/gallery/tablet/tablet-gallery-5@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- Mobile -->
          <img
            class="gallery__list-img"
            src="./images/gallery/mobile/mobile-gallery-5.jpg"
            srcset="
              ./images/gallery/mobile/mobile-gallery-5.jpg    1x,
              ./images/gallery/mobile/mobile-gallery-5@2x.jpg 2x
            "
            alt="people sitting in lotus posa on the carpet in yoga class"
            width="155"
            height="155"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="gallery__list-item">
        <picture>
          <!-- Desktop -->
          <source
            srcset="
              ./images/gallery/desktop/desktop-gallery-6.jpg    1x,
              ./images/gallery/desktop/desktop-gallery-6@2x.jpg 2x
            "
            media="(min-width: 1336px)"
          />

          <!-- Tablet -->
          <source
            srcset="
              ./images/gallery/tablet/tablet-gallery-6.jpg    1x,
              ./images/gallery/tablet/tablet-gallery-6@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- Mobile -->
          <img
            class="gallery__list-img"
            src="./images/gallery/mobile/mobile-gallery-6.jpg"
            srcset="
              ./images/gallery/mobile/mobile-gallery-6.jpg    1x,
              ./images/gallery/mobile/mobile-gallery-6@2x.jpg 2x
            "
            alt="people sitting in lotus posa on the carpet in yoga class"
            width="155"
            height="155"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
