<header class="header">
  <div class="container header__header--container">
    <div class="header__wrapper-menu">
      <nav class="header__menu">
        <ul class="header__list">
          <li class="header__item header__item--active">
            <a href="#yoga-classes" class="header__link">Yoga Classes</a>
          </li>
          <li class="header__item">
            <a href="#team" class="header__link">Team</a>
          </li>
          <li class="header__item">
            <a href="#testimonials" class="header__link">Testimonials</a>
          </li>
          <li class="header__item">
            <a href="#pricing" class="header__link">Pricing</a>
          </li>
          <li class="header__item">
            <a href="#footer" class="header__link">Contacts</a>
          </li>
        </ul>
      </nav>
      <button id="burgerOpenMenu" type="button" class="header__burger-menu">
        <svg class="header__burger-icon" width="24" height="24">
          <use href="./icons/sprite.svg#menu"></use>
        </svg>
      </button>

      <a href="/" class="header__logo">
        <svg width="83" height="23">
          <use href="./icons/sprite.svg#Logo"></use>
        </svg>
      </a>
    </div>
    <a href="#pricing" class="btn header__btn">Join Now</a>
  </div>
</header>
