<div class="modal-brg">
  <div class="container modal-brg--container">
    <!-- #region wrapper -->
    <div class="modal-brg__wrapper">
      <!-- #region btn-close -->
      <button class="modal-brg__close">
        <svg width="24" height="24">
          <use href="./icons/sprite.svg#x"></use>
        </svg>
      </button>
      <!-- #endregion btn-close -->
      <!-- #region inner-wrapper -->
      <div class="modal-brg__inner-wrapper">
        <!-- #region logo -->
        <a class="modal-brg__logo" href="/">
          <svg width="83" height="23">
            <use href="./icons/sprite.svg#Logo"></use>
          </svg>
        </a>
        <!-- #endregion logo -->
        <!-- #region main-btn -->
        <a href="#pricing" class="btn modal-brg__btn">Join Now</a>
        <!-- #endregion main-btn -->
      </div>
      <!-- #endregion inner-wrapper -->
    </div>
    <!-- #endregion wrapper -->
    <!-- #region nav-menu -->
    <nav class="modal-brg__menu">
      <ul class="modal-brg__list">
        <li class="modal-brg__item">
          <a href="#yoga-classes" class="modal-brg__link">Yoga classes</a>
        </li>
        <li class="modal-brg__item">
          <a href="#team" class="modal-brg__link">Team</a>
        </li>
        <li class="modal-brg__item">
          <a href="#testimonials" class="modal-brg__link">Testimonials</a>
        </li>
        <li class="modal-brg__item">
          <a href="#pricing" class="modal-brg__link">Pricing</a>
        </li>
        <li class="modal-brg__item">
          <a href="#footer" class="modal-brg__link">Contacts</a>
        </li>
      </ul>
    </nav>
    <!-- #endregion nav-menu -->
    <!-- #region btn-second -->
    <a href="#pricing" class="btn modal-brg__second-btn">Join Now</a>
    <!-- #endregion btn-second -->
  </div>
</div>
