<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button
      type="button"
      class="modal__close-btn"
      data-modal-close
      aria-label="Закрити модальне вікно"
    >
      <svg class="modal__close-icon" width="32" height="32">
        <use href="../icons/sprite.svg#x"></use>
      </svg>
    </button>

    <h2 class="title">Join Now!</h2>
    <p class="modal__subtitle">One Session</p>
    <p class="modal__price">$10</p>

    <form class="modal__form">
      <div class="modal__field">
        <label for="user-name" class="modal__label">Your Name</label>
        <input
          type="text"
          name="user-name"
          id="user-name"
          class="modal__input"
          placeholder="Placeholder"
          required
        />
      </div>

      <div class="modal__row">
        <div class="modal__field">
          <label for="user-email" class="modal__label">Email</label>
          <input
            type="email"
            name="user-email"
            id="user-email"
            class="modal__input"
            placeholder="Placeholder"
            required
          />
        </div>

        <div class="modal__field">
          <label for="user-phone" class="modal__label">Phone number</label>
          <input
            type="tel"
            name="user-phone"
            id="user-phone"
            class="modal__input"
            placeholder="Placeholder"
            required
            pattern="[0-9+\s\-()]{10,15}"
            title="Будь ласка, введіть коректний номер телефону"
          />
        </div>
      </div>

      <a href="" type="submit" class="modal__submit-btn btn">
        Go to checkout
      </a>
    </form>
  </div>
</div>
