<section id="pricing">
  <div class="container">
    <div class="section__title-price">
      <p class="price__badge">Affordable</p>
      <h2 class="title">Pricing Plans</h2>
      <p class="price__desc">Choose the perfect plan for your yoga journey.</p>
    </div>

    <ul class="price__list">
      <li class="price__item">
        <div class="items">
          <div class="block__price-title">
            <p class="price__item-disc">One Session</p>
            <p class="price__item-title">$10</p>
          </div>

          <button class="btn price__btn" id="openMenuPrice1" type="button">
            Join
          </button>

          <ul class="price__list-terms">
            <li class="terms__item">
              <svg class="terms__icon" width="24" height="24">
                <use href="./icons/sprite.svg#check"></use>
              </svg>

              <p class="terms__disc">1 group session</p>
            </li>

            <li class="terms__item">
              <svg class="terms__icon" width="24" height="24">
                <use href="./icons/sprite.svg#check"></use>
              </svg>

              <p class="terms__disc">10% discount for next 2 Sessions</p>
            </li>

            <li class="terms__item">
              <svg class="terms__icon" width="24" height="24">
                <use href="./icons/sprite.svg#check"></use>
              </svg>

              <p class="terms__disc">Community support group</p>
            </li>
          </ul>
        </div>
      </li>

      <li class="price__item">
        <div class="items">
          <div class="block__price-title">
            <p class="price__item-disc">8 Sessions Package</p>
            <p class="price__item-title">$65</p>
          </div>

          <button class="btn price__btn" id="openMenuPrice2" type="button">
            Join
          </button>

          <ul class="price__list-terms">
            <li class="terms__item">
              <svg class="terms__icon" width="24" height="24">
                <use href="./icons/sprite.svg#check"></use>
              </svg>

              <p class="terms__disc">6 Group Sessions</p>
            </li>
            <li class="terms__item">
              <svg class="terms__icon" width="24" height="24">
                <use href="./icons/sprite.svg#check"></use>
              </svg>

              <p class="terms__disc">2 Individual Sessions</p>
            </li>
            <li class="terms__item">
              <svg class="terms__icon" width="24" height="24">
                <use href="./icons/sprite.svg#check"></use>
              </svg>

              <p class="terms__disc">Priority customer support</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="price__item third">
        <div class="items third">
          <div class="third__item-left">
            <p class="price__item-disc">12 Sessions Package</p>
            <p class="price__item-title">$80</p>
          </div>

          <button
            class="btn price__btn third"
            id="openMenuPrice3"
            type="button"
          >
            Join
          </button>
        </div>
        <ul class="price__list-terms third">
          <li class="terms__item">
            <svg class="terms__icon" width="24" height="24">
              <use href="./icons/sprite.svg#check"></use>
            </svg>

            <p class="terms__disc">8 Group Sessions</p>
          </li>
          <li class="terms__item">
            <svg class="terms__icon" width="24" height="24">
              <use href="./icons/sprite.svg#check"></use>
            </svg>

            <p class="terms__disc">4 Individual Sessions</p>
          </li>
          <li class="terms__item">
            <svg class="terms__icon" width="24" height="24">
              <use href="./icons/sprite.svg#check"></use>
            </svg>

            <p class="terms__disc">Monthly yoga challenges</p>
          </li>
          <li class="terms__item">
            <svg class="terms__icon" width="24" height="24">
              <use href="./icons/sprite.svg#check"></use>
            </svg>

            <p class="terms__disc">Exclusive member discounts</p>
          </li>
          <li class="terms__item">
            <svg class="terms__icon" width="24" height="24">
              <use href="./icons/sprite.svg#check"></use>
            </svg>

            <p class="terms__disc">Community support group</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
