<!--OUR TEAM-->
<section>
  <div class="container">
    <p class="team__tagline">Meet</p>
    <h2 class="title">Our Team</h2>
    <p class="team__description">
      Dedicated professionals passionate about yoga and wellness.
    </p>
    <ul class="team__list">
      <!--Liam Johnson. Yoga Instructor-->
      <li class="team__card">
        <div class="team__card-wrapper">
          <picture>
            <!-- Desktop photo (screen resolution from 1336px) -->
            <source
              srcset="
                ./images/our-team/desktop/liam-johnson.png    1x,
                ./images/our-team/desktop/liam-johnson@2x.png 2x
              "
              media="(min-width: 1336px)"
              width="421"
              height="395"
            />
            <!-- Photos for Tablets (screen size from 768px to 1335px) -->
            <source
              srcset="
                ./images/our-team/tablet/liam-johnson-tablet.png    1x,
                ./images/our-team/tablet/liam-johnson@2x-tablet.png 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="395"
            />
            <!-- Mobile photo (from 320px to 767px) -->
            <img
              class="team__image"
              src="./images/our-team/mobile/liam-johnson-mobile.png"
              srcset="./images/our-team/mobile/liam-johnson@2x-mobile.png 2x"
              alt="Liam Johnson. Yoga Instructor"
              width="343"
              height="221"
              loading="lazy"
            />
          </picture>
          <div class="team__info">
            <h3 class="team__name">Liam Johnson</h3>
            <p class="team__position">Yoga Instructor</p>
            <p class="team__brief-info">
              Liam specializes in mindfulness and stress reduction techniques
              through guided meditation.
            </p>
            <ul class="team__social-links">
              <li>
                <a
                  href="https://www.linkedin.com/"
                  class="team__social-icon"
                  target="_blank"
                >
                  <svg width="24" height="24" class="icon">
                    <use href="../icons/sprite.svg#LinkedIn"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/"
                  class="team__social-icon"
                  target="_blank"
                >
                  <svg width="24" height="24" class="icon">
                    <use href="../icons/sprite.svg#Instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <!--Emma Stone. Meditation Coach-->
      <li class="team__card">
        <div class="team__card-wrapper">
          <picture>
            <!-- Desktop photo (screen resolution from 1336px) -->
            <source
              srcset="
                ./images/our-team/desktop/emma-stone.png    1x,
                ./images/our-team/desktop/emma-stone@2x.png 2x
              "
              media="(min-width: 1336px)"
              width="421"
              height="395"
            />
            <!-- Photos for Tablets (screen size from 768px to 1335px) -->
            <source
              srcset="
                ./images/our-team/tablet/emma-stone-tablet.png    1x,
                ./images/our-team/tablet/emma-stone@2x-tablet.png 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="395"
            />
            <!-- Mobile photo (from 320px to 767px) -->
            <img
              class="team__image"
              src="./images/our-team/mobile/emma-stone-mobile.png"
              srcset="./images/our-team/mobile/emma-stone@2x-mobile.png 2x"
              alt="Emma Stone. Meditation Coach"
              width="343"
              height="221"
              loading="lazy"
            />
          </picture>
          <div class="team__info">
            <h3 class="team__name">Emma Stone</h3>
            <p class="team__position">Meditation Coach</p>
            <p class="team__brief-info">
              Emma has over 10 years of experience in Hatha and Vinyasa yoga.
            </p>
            <ul class="team__social-links">
              <li>
                <a
                  href="https://www.linkedin.com/"
                  class="team__social-icon"
                  target="_blank"
                >
                  <svg width="24" height="24" class="icon">
                    <use href="../icons/sprite.svg#LinkedIn"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <!--Sophia Lee.Pilates Trainer-->
      <li class="team__card">
        <div class="team__card-wrapper">
          <picture>
            <!-- Desktop photo (screen resolution from 1336px) -->
            <source
              srcset="
                ./images/our-team/desktop/sophia-lee.png    1x,
                ./images/our-team/desktop/sophia-lee@2x.png 2x
              "
              media="(min-width: 1336px)"
              width="421"
              height="395"
            />
            <!-- Photos for Tablets (screen size from 768px to 1335px) -->
            <source
              srcset="
                ./images/our-team/tablet/sophia-lee-tablet.png    1x,
                ./images/our-team/tablet/sophia-lee@2x-tablet.png 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="395"
            />
            <!-- Mobile photo (from 320px to 767px) -->
            <img
              class="team__image"
              src="./images/our-team/mobile/sophia-lee-mobile.png"
              srcset="./images/our-team/mobile/sophia-lee@2x-mobile.png 2x"
              alt="Sophia Lee. Pilates Trainer"
              width="343"
              height="221"
              loading="lazy"
            />
          </picture>
          <div class="team__info">
            <h3 class="team__name">Sophia Lee</h3>
            <p class="team__position">Pilates Trainer</p>
            <p class="team__brief-info">
              Sophia combines Pilates with yoga for a holistic fitness approach.
            </p>
            <ul class="team__social-links">
              <li>
                <a
                  href="https://www.instagram.com/"
                  class="team__social-icon"
                  target="_blank"
                >
                  <svg width="24" height="24" class="icon">
                    <use href="../icons/sprite.svg#Instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <!--Noah Brown. Yoga Therapist-->
      <li class="team__card">
        <div class="team__card-wrapper">
          <picture>
            <!-- Desktop photo (screen resolution from 1336px) -->
            <source
              srcset="
                ./images/our-team/desktop/noah-brown.png    1x,
                ./images/our-team/desktop/noah-brown@2x.png 2x
              "
              media="(min-width: 1336px)"
              width="421"
              height="395"
            />
            <!-- Photos for Tablets (screen size from 768px to 1335px) -->
            <source
              srcset="
                ./images/our-team/tablet/noah-brown-tablet.png    1x,
                ./images/our-team/tablet/noah-brown@2x-tablet.png 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="395"
            />
            <!-- Mobile photo (from 320px to 767px) -->
            <img
              class="team__image"
              src="./images/our-team/mobile/noah-brown-mobile.png"
              srcset="./images/our-team/mobile/noah-brown@2x-mobile.png 2x"
              alt="Noah Brown. Yoga Therapist"
              width="343"
              height="221"
              loading="lazy"
            />
          </picture>
          <div class="team__info">
            <h3 class="team__name">Noah Brown</h3>
            <p class="team__position">Yoga Therapist</p>
            <p class="team__brief-info">
              Noah focuses on therapeutic yoga to aid recovery and enhance
              well-being.
            </p>
            <ul class="team__social-links">
              <li>
                <a
                  href="https://www.linkedin.com/"
                  class="team__social-icon"
                  target="_blank"
                >
                  <svg width="24" height="24" class="icon">
                    <use href="../icons/sprite.svg#LinkedIn"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <!--Ava Green. Fitness Trainer-->
      <li class="team__card">
        <div class="team__card-wrapper">
          <picture>
            <!-- Desktop photo (screen resolution from 1336px) -->
            <source
              srcset="
                ./images/our-team/desktop/ava-green.png    1x,
                ./images/our-team/desktop/ava-green@2x.png 2x
              "
              media="(min-width: 1336px)"
              width="421"
              height="395"
            />
            <!-- Photos for Tablets (screen size from 768px to 1335px) -->
            <source
              srcset="
                ./images/our-team/tablet/ava-green-tablet.png    1x,
                ./images/our-team/tablet/ava-green@2x-tablet.png 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="395"
            />
            <!-- Mobile photo (from 320px to 767px) -->
            <img
              class="team__image"
              src="./images/our-team/mobile/ava-green-mobile.png"
              srcset="./images/our-team/mobile/ava-green@2x-mobile.png 2x"
              alt="Ava Green. Fitness Trainer"
              width="343"
              height="221"
              loading="lazy"
            />
          </picture>
          <div class="team__info">
            <h3 class="team__name">Ava Green</h3>
            <p class="team__position">Fitness Trainer</p>
            <p class="team__brief-info">
              Ava integrates strength training with yoga to promote overall
              fitness.
            </p>
            <ul class="team__social-links">
              <li>
                <a
                  href="https://www.facebook.com/"
                  class="team__social-icon"
                  target="_blank"
                >
                  <svg width="24" height="24" class="icon">
                    <use href="../icons/sprite.svg#Facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/"
                  class="team__social-icon"
                  target="_blank"
                >
                  <svg width="24" height="24" class="icon">
                    <use href="../icons/sprite.svg#Instagram"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/"
                  class="team__social-icon"
                  target="_blank"
                >
                  <svg width="24" height="24" class="icon">
                    <use href="../icons/sprite.svg#LinkedIn"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <!--Clark Thomas. Fitness Trainer-->
      <li class="team__card">
        <div class="team__card-wrapper">
          <picture>
            <!-- Desktop photo (screen resolution from 1336px) -->
            <source
              srcset="
                ./images/our-team/desktop/clark-thomas.png    1x,
                ./images/our-team/desktop/clark-thomas@2x.png 2x
              "
              media="(min-width: 1336px)"
              width="421"
              height="395"
            />
            <!-- Photos for Tablets (screen size from 768px to 1335px) -->
            <source
              srcset="
                ./images/our-team/tablet/clark-thomas-tablet.png    1x,
                ./images/our-team/tablet/clark-thomas@2x-tablet.png 2x
              "
              media="(min-width: 768px)"
              width="340"
              height="395"
            />
            <!-- Mobile photo (from 320px to 767px) -->
            <img
              class="team__image"
              src="./images/our-team/tablet/clark-thomas-mobile.png"
              srcset="./images/our-team/tablet/clark-thomas@2x-mobile.png 2x"
              alt="Clark Thomas. Fitness Trainer"
              width="343"
              height="221"
              loading="lazy"
            />
          </picture>
          <div class="team__info">
            <h3 class="team__name">Clark Thomas</h3>
            <p class="team__position">Fitness Trainer</p>
            <p class="team__brief-info">
              Clark specializes in mindfulness and stress reduction techniques
              through guided meditation..
            </p>
            <ul class="team__social-links">
              <li>
                <a
                  href="https://www.linkedin.com/"
                  class="team__social-icon"
                  target="_blank"
                >
                  <svg width="24" height="24" class="icon">
                    <use href="../icons/sprite.svg#LinkedIn"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/"
                  class="team__social-icon"
                  target="_blank"
                >
                  <svg width="24" height="24" class="icon">
                    <use href="../icons/sprite.svg#Instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
