.about__us {
    background-color: var(--color-hawkes-blue-lighter);
}

.about__subtitle {
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 48px;
}

.about__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 48px;
}

.about__item {
    text-align: center;
}

.about__item__title {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    font-family: var(--second-family);
}

.about__item__text {
    letter-spacing: 0em;
    text-align: center;
}

/* tablet */
@media screen and (min-width: 768px) {
    .about__us {
        background-color: var(--color-drover-lightest);
    }

    .about__title {
        margin-bottom: 24px;
    }

    .about__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 46px 24px;
        margin-bottom: 40px;
    }

    .about__item {
        width: calc((100% - 24px) / 2);
    }

    .about__btn {
        max-width: 110px;
        padding: 10px 24px;
    }

}

/* Desktop */
@media screen and (min-width: 1336px) {
    .about__list {
        gap: 46px 24px
    }

    .about__item {
        width: calc((100% - 24px) / 4);
    }
}

.about__actions {
    display: flex;
    justify-content: center;
}

.about__btn {
    min-width: 343px;
    padding: 10px 140px;
    transition: background-color .25s ease-in-out, opacity .25s ease-in-out, border .25s ease-in-out;
}

.about__btn:hover,
.about__btn:focus {
    background: var(--opacity-transparent);
    opacity: 0.5;
}

.about__btn:active {
    border: 1px solid var(--color-hawkes-blue);
    background-color: transparent;
    opacity: 1;
}