.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

/* Modal Window */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    min-width: 320px;
    max-width: 375px;
    /* Mobile fluid start */
    min-height: 720px;
    background-color: var(--color-hawkes-blue-lighter);
    padding: 64px 16px 16px 112px;
    border-radius: 8px;
}

/* Адаптивність мобілки з 375px */
@media screen and (min-width: 375px) {
    .modal {
        max-width: 375px;
    }
}

/* Tablet (768px+) */
@media screen and (min-width: 768px) {
    .modal {
        min-width: 704px;
        min-height: 573px;
        padding: 64px 92px;
    }
}

/* Desktop (1336px+) */
@media screen and (min-width: 1336px) {
    .modal {
        min-width: 768px;
        padding: 64px;
    }
}

/* Close Button */
.modal__close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.modal__close-icon {
    fill: currentColor;
}

/* Typography */

.title {
    margin-bottom: 32px;
}

.modal__subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 8px;
    font-family: var(--second-family);

}

.modal__price {
    font-size: 44px;
    text-align: center;
    margin-bottom: 32px;
}

/* Form Styles */
.modal__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.modal__label {
    font-size: 16px;
}

.modal__input {
    width: 100%;
    max-height: 42px;
    background-color: rgba(13, 11, 10, 0.05);
    border: none;
    border-radius: 12px;
    padding: 0 16px;
    outline: transparent;

}

.modal__input:focus {
    border: 1px solid var(--btn-color);
}

/* Grid Row for Tablet/Desktop */
@media screen and (min-width: 768px) {
    .modal__row {
        display: flex;
        gap: 16px;
    }
}

/* Submit Button */
.modal__submit-btn {
    width: 100%;
    max-width: 343px;
    max-height: 46px;
    align-self: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 24px;

}

.modal__submit-btn:hover,
.modal__submit-btn:focus {
    filter: brightness(0.95);
}